# скопировать этот файл в .env
COMPOSE_PROJECT_NAME=rss_telegram_bot
IMAGE_NAME=${COMPOSE_PROJECT_NAME}:latest

TZ=Asia/Novokuznetsk

BOT_TOKEN=

DB_USER=
DB_PASS=
DB_NAME=
DB_URL=postgresql+psycopg://${DB_USER}:${DB_PASS}@db/${DB_NAME}
DB_DEV_PORT=4432 # используется в docker-compose.dev.yml

GRAYLOG_HOST=localhost
